/* Style sheet*/
html{
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    overflow: scroll;
}
body{
background-image: url("./images/background.jpg");
position: fixed;
background-color: antiquewhite;
height: 100%;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
overflow: scroll;
}

.page-navigation{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 48px;
    background-image: url("./images/woodgrain.jpg");
    background-size: cover;
    border-radius: 8px;
}
.logo{
    display: flex;
    height: 96px;
    width: 96px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(255, 255, 255, 0.3);
    margin-top: 48px;
}
.selection-bar{
    display: inline-flex;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(255, 255, 255, 0.3);
    height: 60px;
    width: 16em;
    flex: 1;
    padding: 4px;
    margin-top: 60px;
    margin-left: 24px;
    align-content: right;
    justify-content: space-between;
}
.page-selection{
    flex: 1;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(255, 255, 255, 0.3);
    width: 200px;
    color:black;
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}
a:link{
    color: black;
}
a:visited{
    color:black;
}
a:hover{
    color:rgb(54, 67, 122);
}
a:active{
    color:rgb(54, 67, 122);
}
.main-content{
    flex: 1;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(255, 255, 255, 0.3);
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}
#footer{
    width: 100%;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    background-image: url("./images/woodgrain.jpg");
    background-size: cover;
    border-radius: 8px;
    position: absolute;
    bottom : 0;
    color:rgba(255, 255, 255, 0.5)

}